@{
    ViewBag.Title = "RotoSports Home Page";
}

<div class="jumbotron">
    <h1 class="titletext KrinkesFont">RotoSports6</h1>
    <p class="lead">Player Name</p>
</div>

<p>@ViewBag.YahooString</p>
