
@{
    ViewBag.Title = "InvalidRequest";
}


<div class="jumbotron">
    <h1>I'm sorry, but the page you requested doesn't exist.</h1>
    <p class="lead">Please try a different route.</p>
    <br />
    <a href="@Url.Action("Index", "Home")" class="btn btn-primary btn-lg"> - Home Page - </a>
</div>