body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color:#5dbc3a;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

p h1 h2 h3 h4 h5 h6{
    color:white;
}
@font-face {
    font-family: Krinkes;
    src: url(Krinkes.ttf);
}
@font-face {
    font-family: SportsJersey;
    src: url(sportsjersey.ttf);
}

.KrinkesFont{
    font-family: Krinkes;
}
.SportsJerseyFont{
    font-family: SportsJersey;
}

.titletext{
   font-size:4em;
}

a{
    color:black;
}

.red{
    color:red;
}

.floatleft{
    float:left;
}

.floatright{
    float:right;
}

.wideButton{
    width:100%;
}

.oneThird{
    width:28%;
}

.bold{
    font-weight:bold;
}

.spacedout{
    margin:10px;
}