@{
    ViewBag.Title = "RotoSports Home Page";
}

<div class="jumbotron">
    <h1 class="titletext KrinkesFont">RotoSports6</h1>
    <p class="lead">RotoSports. We'll dig deep for the facts so you don't have to. For free.</p>
    @if (User.Identity.IsAuthenticated)
    {
    <a href="@Url.Action("Index", "Sports")" class="btn btn-primary btn-lg">Choose the sport you'd like to create a lineup in.</a>
    }
</div>

<div>
    <h1>Fantasy Sports Helper</h1>
    <h3>Requirements</h3>
    <p>Sorting by all of their possible categories will be added. (sort by: position, team, stats, name, etc.)</p>
    <p>Every single name of a player will be a link to the players information(also teams will be links). This information will be generated through an API, but I will be "hosting" the information for the user to see. Such as click on Aaron Rodgers and display his stats on another page on my website.</p>
    <p>fantasy point calculator</p>
    <p>player predictor</p>
    <p>whole team predictor</p>

    ​<h3>*Nice To Have's*</h3>
    <p>Show a lineup of all the upcoming games.</p>
    <p>Show the lineup of the games per team.</p>
    <p>Tracks the users bets</p>
    <p>Keep track of the users spendings/winnings per sport.</p>
    <p>Show what a winning team looks like (history), various groups of players that stay under salary, but got a lot of points.</p>
</div>
<div class="hidden FinishedReqs">
    <p>All sports on DraftKings.com will be compatible.</p>
    <p>Upload CSV files(these are the file types that draftkings outputs).</p>
    <p>There will be an add button to add the players to your lineup.</p>
    <p>You can have multiple lineups.</p>
    <p>You can add players to a list that you want to add for a certain position, such as adding 4 possible quarterbacks to a list of players you might use for a QB.</p>
    <p>Have multiple lineups. Able to name those lineups.</p>
    <p>Be able to go into those lists and delete from the list, add players to any lineup you choose.</p>
    <p>Add up the salary and makes sure you stay under the salary cap.</p>
</div>

<div class="hidden">
    <p>Client ID (Consumer Key)
    <p>dj0yJmk9aDFNMFpRNVBCVEgwJmQ9WVdrOVkyNU5OekJWTnpZbWNHbzlNQS0tJnM9Y29uc3VtZXJzZWNyZXQmeD0zMw--</p>
    <p>Client Secret (Consumer Secret)</p>
    <p>27f3e738f3c59313da428d063e7ce8eb9a25a67b</p>
</div>